.container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.GameBox {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 25%;
  background-color: red;
  height: 100px;
  text-align: center;
  align-content: center;
}